body {
  margin: 0;
  background: darkgrey;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
#verticalButtons {
  display: flex;
  flex-direction: column;
  width: 95px;
  align-items: center;
}
button,
label,
input {
  border: none;
  border-radius: 5px;
  padding: 5px, 5px, 7px, 5px;
  margin: 3px;
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
  width: 80px;
  max-width: 90%;
  font-size: 1rem;
  color: rgb(71, 71, 71);
}
button:hover {
  background: rgb(71, 71, 71);
  color: lightgrey;
}
#carCanvas {
  background: lightgrey;
}
#networkCanvas {
  background: rgb(12, 12, 12);
}
#infoBox {
  position: fixed;
  top: 15px;
  left: 15px;
  width: 200px;
  height: auto;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  font-size: 0.9rem;
  border-radius: 5px;
  z-index: 1000;
  z-index: 1000;
  transition: opacity 1s ease-in-out;
}

.hidden {
  opacity: 0;
}
